/apps/logs/kafka_{{kafka_client_port}}/*
{
        su root root
        create 0644 apps apps
        weekly
        dateext
        compress
        copytruncate
        notifempty
        rotate 24
        missingok 
}
