/apps/logs/rabbitmq_5672/*.log
{
        su root root
        create 0644 apps apps
        weekly
        dateext
        compress
        copytruncate
        notifempty
        rotate 24
        missingok 
}
